<body>
    <div>
        <fieldset>
            <legend>Datos Generales</legend>
            <ul>
              <li><span>Fecha de nacimiento:</span> {{fecha_Nac}}</li>
              <li><span>DNI:</span> {{dni}}</li>
              <li><span>Email:</span> {{email}}</li>
              <li><span>Github:</span><a href="https://github.com/JorgePJ13" target="_blank"> {{github}}</a></li>
            </ul>
          </fieldset>
          <fieldset>
            <legend>Formación Académica</legend>
            <ul>
              <li><span>Bachillerato de Ciencias y Tecnología en I.E.S Arroyo Harnina</span> {{bach_Fecha}}</li>
              <li><span>Grado en Ingeniería Informática en Ingeniería del Software</span> {{informatica_Fecha}}</li>
              <li><span>Carnet Conducir tipo B</span> {{carnet_Coche}}</li>
              <li><span>Inglés B1</span> {{ingles}}</li>
            </ul>
          </fieldset>
          <fieldset>
            <legend>Experiencia Laboral</legend>
            <ul>
              <li><span>Prácticas en la empresa BABEL:</span> {{practicas}}</li>
            </ul>
          </fieldset>
          <fieldset>
            <legend>Aficiones</legend>
            <ul>
              <li><span>Deportes:</span> {{deportes}}</li>
              <li><span>Cine:</span> {{cine}}</li>
              <li><span>Series:</span> {{series}}</li>
              <li><span>Videojuegos:</span> {{videojuegos}}</li>
              <li><span>Tiempo libre:</span> {{tiempo_Libre}}</li>
            </ul>
          </fieldset>
    </div>
</body>
<hr>
